/* Webshop templates.css stylesheet
@author Dimitris Kiriakakis */

/* Contents
- General Definitions
- A Custom Grid System
- Webshop Header
- Webshop Home Styles
- Webshop Detailed Product Styles
- Webshop Footer
*/


/* --General Definitions-- */

/*Import only to use the social icons for footer*/
@import url('font-awesome.css');

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}

a {
  background: transparent;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
  text-decoration: underline;
}

h1 , h2 , h3{
  margin: 0px;
  text-decoration: none;
}

button {
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
}

button:focus {outline:0;}

button:active{
  border: none;
}

button:hover{
  cursor:pointer;
}

body {
  background-color: #4D4D4D;

}

/*-- Webshop Grid System -- */
  .row:before, 
  .row:after {
    content:"";
    display: table ;
    clear:both;
  }

  [class*='col-'] {
    float: left; 
    min-height: 1px; 
    width: 16.66%; 
    /*-- our gutter -- */
    padding: 12px;
    box-sizing: border-box;
  }

  .col-1{ width: 16.66%; }
  .col-2{ width: 33.33%; }
  .col-3{ width: 50%;    }
  .col-4{ width: 66.66%; }
  .col-5{ width: 83.33%; }
  .col-6{ width: 100%;   }

  .outline, .outline *{
    outline: 1px solid #F6A1A1; 
  }

  /*-- some extra column content styling --*/
  [class*='col-'] > p {
    padding: 0;
    margin: 0;
    text-align: center; 
    color: white; 
  }

  /*Media query for grid customisation on smaller desktop screens and tablets*/
  @media all and (max-width:900px){
    .col-1{ width: 33.33%;    }
    .col-2{ width: 50%;        }
    .col-3{ width: 83.33%;    }
    .col-4{ width: 100%;    }
    .col-5{ width: 100%;    }
    .col-6{ width: 100%;      }

    .row .col-2:last-of-type{
      width: 100%; 
    }

    .row .col-5 ~ .col-1{
      width: 100%; 
    }
  }

  /*Media query for grid customisation on mobile screens*/
  @media all and (max-width:650px){
    .col-1{ width: 50%;        }
    .col-2{ 
      width: 100%;
      padding: 0px;
      padding-bottom: 10px;    
    }
    .col-3{ width: 100%;    }
    .col-4{ width: 100%;    }
    .col-5{ width: 100%;    }
    .col-6{ width: 100%;      }
  }

/* --Webshop Header-- */
.webshop-top-bar{
  height:50px;
  background-color: #585858;
  background: -webkit-linear-gradient(#717170, #4D4D4D); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#717170, #4D4D4D); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#717170, #4D4D4D); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#717170, #4D4D4D); /* Standard syntax */
  padding: 20px;
  padding-left: 60px;
  border-bottom: 2px solid #64bac6;
  box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.8);

}



.webshop-top-bar > img{
  height:50px;
}

.webshop-top-bar > i{
  display: none;
  float: right;
  padding: 5px;
  font-size: 30px;
  color: #fff;
}

@media all and (max-width:650px){
  .webshop-top-bar{
    padding: 10px;
    height:40px;
  }

  .webshop-top-bar > img{
    height: 40px;
  }

  .webshop-top-bar > i{
    display: block;
  }
}

/* --Webshop Home Styles-- */
.webshop-container{
  background-color: #e9e9e4;
  padding: 20px 40px;
  padding-bottom: 80px;
  min-height: 700px;
}

.webshop-container-end{
  clear: both;
  height: 100px;
  background-color: #e9e9e4;
}

@media all and (max-width:650px){
  .webshop-container{
    padding: 10px 5px;
    padding-bottom: 80px;
    min-height: 400px;
  }

  .webshop-container-end {
    height: 50px;
  }
}

.top-banner{
  background:url(../images/banner.jpg) center center no-repeat;
  background-size: cover;
  height :200px;
  padding-top:50px;
  text-align: left;
  border: 2px solid #e2dddd;
  border-radius: 3px;
}

@media all and (max-width:650px){
  /*We don't want to show the banner on mobile users */
  .top-banner{
    display: none;
  }
}

.top-banner > h1{
  color:#37ADBF;
  font-weight: 800;
  font-size: 24px;
  text-decoration: none;
  border:none;
  margin: 5px 40px;
}

.top-banner > h2{
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  margin: 0px 40px;
  margin-top: 0px;
  float: left;
}


.product-list-container{
  margin-top:10px;
  background: transparent;
  width : 100%;
  display: block;
  
}


.product-column{
  height: 320px;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 3px;
  position: relative;
  display: block;
  width: auto;
  border: 2px solid #E4E0E0;
}





.price-tag{
  position: absolute;
  right:20px;
  top: 0px;
  background-color: #6F6F6F;
  background: -webkit-linear-gradient(#717170, #4E4E4E); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#717170, #4E4E4E); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#717170, #4E4E4E); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#717170, #4E4E4E); /* Standard syntax */
  color: #fff;
  padding: 5px;
  font-size: 17px;
  border : 1px solid #4B4B4B;
  border-bottom-right-radius:4px;
  border-bottom-left-radius:4px;
  font-weight: bold;
  height: 45px;
  line-height: 15px;
  padding: 3px 10px;
  z-index: 10;
}



.price-tag > p{
  margin: 0px;
  font-size: 8px;
  font-weight: normal;

}

.margin-right{
  margin-right: 0px;
}

.product-column > h1{
  font-size: 12px;
  border: none;
  margin-right: 70px;
  text-transform: uppercase;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 10px;
  box-sizing: border-box;
}


.product-img{
  width: 100%;
  height: 180px;
  border : 1px solid #ccc;
  text-align: center;
  position: relative;
    

}

.special-price-tag{
  position: absolute;
  right:0px;
  top: 10px;
  background-color: #37ADBF;
  color: #fff;
  padding: 5px;
  font-size: 11px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
  font-weight: 700;
  line-height: 15px;
  padding: 3px 10px;
}

.product-img > img {
  max-height: 160px;
  max-width: 80%;
  margin: auto;
  padding-top: 10px;
}



.product-price{
  text-align: right;
  line-height: 24px;
  padding-top: 20px;
  font-weight: bold;
  font-size: 20px;

}

.product-price > p{
  margin: 0px;
  font-size: 8px;
  line-height: 12px;
  padding-right: 10px;
}

.offer-price {
  display: inline;
  color: #39ADBF;
}

.full-price {
  display: inline;
  padding-right: 10px;
}

.price-strikethrough {
  position: relative;
}
.price-strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 2px solid ;
  border-color: #39ADBF;

  -webkit-transform:rotate(-12deg);
  -moz-transform:rotate(-12deg);
  -ms-transform:rotate(-12deg);
  -o-transform:rotate(-12deg);
  transform:rotate(-12deg);
}


@media (max-width: 650px){
  .product-column{
    border: none;
    border-radius: 5%;
    height: 80px;
  }

  .product-column > h1{
    margin-left: 70px;
    margin-right: 50px;
    font-size: 11px;
  }

  .price-tag{
    line-height: 12px;
    padding: 3px 5px;
    height: 35px;
    right: 10px;
  }

  .special-price-tag {
    right: -80px;
    top: 65px;
    padding: 0px 6px;
    border-radius: 3px;
    font-size: 9px;
    line-height: 10px;
  }

  .product-img{
    width: 90px;
    height: 90px;
    border:none;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .product-img > img {
    max-height: 80px;
  }

  .product-price {
    padding-top: 0px;
    font-size: 15px;
    line-height: 14px;
  }

  .product-price > p{
    display: inline;
    padding-right: 5px;

  }

  .product-price > p:first-child{
    margin-right: 0px;
  }

  .full-price {
    display: inline;
    padding-right: 5px;
  }
}




/* --Webshop Detailed Product Styles-- */

.product-image-viewer{
  background-color: #fff;
  min-width: 320px;
  padding: 15px;
  border: 2px solid #e2dddd;
  border-radius: 3px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-right: 10px;
  position: relative;
  width: 35%;
  box-sizing : border-box;
}

.product-images {
  background-color: white;
  height: 270px;
  overflow: hidden;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-bottom: 10px;
  text-align: center;
}



.product-photo {
  background-color: white;
  height: 270px;
  display: none;
  text-align: center;
  left: 0px;
  right: 0px;
}

.product-photo > img {
    max-height: 270px;
    max-width: 100%;
    bottom: 0px;
    margin: auto;
    

}

.product-photo:first-child {
  display: flex;
}

ul.product-thumbs {
  margin: 0;
  list-style: none;
  padding-left: 0px;

}



ul.product-thumbs li:last-child {
  margin-right: 0px;
}

ul.product-thumbs li {
  border: 1px solid #ccc;
  display: inline-block;
  background-color: white;
  height: 38px;
  width: 50px;
  margin-right: 3px;
  text-align: center;
}



ul.product-thumbs img {
  height: 35px;
  padding: 2px;
}

ul.product-thumbs img:hover {
  cursor: pointer;
}


@media (max-width: 650px){
  .product-images {
    width: 150px;
    height: 150px;
    border: none;
  }

  .product-photo {
    height: 150px;
  }

  ul.product-thumbs{
    height: 100px;
    width: 200px;
    position: absolute;
    top: 50px;
    left: 160px;
  }
}

@media (max-width: 560px){
  .product-images {
    width: 130px;
    height: 130px;
    border: none;
  }

  .product-photo {
    height: 130px;
  }

  ul.product-thumbs{
    height: 100px;
    width: 180px;
    position: absolute;
    top: 50px;
    left: 140px;
  }

  ul.product-thumbs li {
    border: 1px solid #ccc;
    display: inline-block;
    background-color: white;
    height: 33px;
    width: 45px;
    margin-right: 3px;
    text-align: center;
  }



  ul.product-thumbs img {
    height: 30px;
    padding: 2px;
  }
}

.product-info-viewer{
  background-color: #fff;
  min-height: 360px;
  padding: 15px;
  border: 2px solid #e2dddd;
  border-radius: 3px;
  display: inline-block;
  vertical-align: top;
  width: 60%;
  box-sizing : border-box;
}

@media all and (max-width:900px){
  .product-image-viewer{
    width:100%;
  }

  .product-info-viewer{
    width:100%;
  }
}

.product-info-desc{
  width: 74%;
  display: inline-block;
}

.product-info-desc > h1{
  margin:0px;
  font-size: 21px;
  text-transform: uppercase;
}

.product-info-desc > h2{
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px;
}

.product-info-desc > p{
  font-size: 12px;
  margin-top: 5px;
  line-height: 18px;
}

.product-info-other{
  width: 25%;
  display: inline-block;
  text-align: right;
  vertical-align: top;
}

.product-info-rating{
  padding-right: 15px;
  min-width: 80px;
}

.product-info-rating > .fa-star{
  color: #DCDBDB
}

.product-info-rating > .full-star{
  color: #37ADBF
}

.product-info-rating > p{
  margin: 0px;
  font-size: 11px;
}

.product-info-price{
  text-align: right;
  line-height: 24px;
  padding-top: 20px;
  font-weight: bold;
  font-size: 20px;

}

.product-info-price > .offer-price {
  padding-right: 15px;
}

.product-info-price > p{
  margin: 0px;
  font-size: 8px;
  line-height: 12px;
  padding-right: 15px;
}


button.basket{
  background-color: #37ADBF;
  color: #fff;
  margin: 15px;
  font-size: 14px;
}

button.basket-side{
  display: inline-block;
}

button.basket-bottom{
  display: none;
}

button.back{
  background-color: #7D7D7D;
  color: #fff;
  margin: 15px;
  font-size: 14px;
}



@media (max-width: 650px){

  .product-info-desc {
    width: 70%;
    margin-bottom: 20px;
  }

  .product-info-desc > h1 {
    font-size: 12px;
  }

  .product-info-desc > h2{
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
  }

  .product-info-desc > p{
    font-size: 10px;
    line-height: 11px;
  }

  .product-info-rating > .fa-star{
    font-size: 11px;
  }

  .product-info-rating > p {
    font-size: 8px;
  }

  .product-info-price{
    font-size: 16px;
  }

  .product-info-other {
    width: 25%;
    padding-right: 0px;
  }

  button.basket{
    font-size: 14px;
    width: 40%;
    margin: 4%;
  }

  button.back{
    width: 40%;
    font-size: 14px;
    margin: 4%;
  }

  button.basket-top{
    position: absolute;
    bottom: -5px;
    padding: 5px 15px;
  }

  button.basket-side{
    display: none;
  }

  button.basket-bottom{
    display: inline-block;
  }
}

@media (min-width: 650px){
  button.basket-top{
    display: none;
  }
}

.spec-list{
  width: 75%;
}

@media (max-width: 650px){
  .spec-list{
    width: 100%;
  }
}

.spec-stable{
  padding: 10px;
  background-color: #d2d2d2;
  font-weight: normal;
  border-bottom:1px solid #fff;
  font-size: 16px;
  position: relative;
  color: #343434;
}

.spec-stable:hover{
  cursor: pointer;
}

.spec-stable > i{
  position: absolute;
  right:20px;
  font-size: 24px;
  top: 5px;
  color: #818181;
}

.spec-list .spec.spec-accordion {
  line-height: 18px;
  transition: 0.09s all linear;
}
.spec-list .spec.spec-accordion.ng-hide {
  line-height: 0px;
}
.spec-list .spec.spec-accordion.ng-hide-add,
.spec-list .spec.spec-accordion.ng-hide-remove {
  display: block !important;
}



.spec-accordion{
  padding: 2px 15px;
  background-color: #EDEDED;
  font-weight: normal;
  border-bottom:1px solid #fff;
  font-size: 12px;
}

.spec-accordion:first-child{
  padding-top: 10px;
}

.spec-accordion:last-child{
  padding-bottom: 10px;
}


.spec-accordion > .col-3 {
  padding: 0px;
  width: 50%;
}




/* --Webshop Footer--*/

.webshop-footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #666;
  text-align: center;
  height: 130px;
}

 .webshop-footer > h1{
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
    display: none;
  }

  .webshop-footer > h2{
    font-size: 13px;
    margin-top: 20px;
    display: none;
  }

.webshop-footer-content{
  background-color: #4D4D4D;
  margin-top: 20px;
  height: 110px;
}

.webshop-footer-links{
  margin-top: 20px;
  color: #9B9B9B;
  font-size: 11px;
}

.webshop-footer-links > a{
  color: inherit;
}

.social-icon{
  padding-top: 20px;
  text-align: center;
}

.social-icon > a:hover{
  text-decoration: none;
}

.social-icon .fa{
  position: relative;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
    color: #4D4D4D;
    background-color: #fff;
    font-size: 10px;
}

@media (max-width: 650px){
  .webshop-footer{
    height: 120px;
    background-color:#37ADBF;
  }

  .webshop-footer > h1{
    display: block;
  }

  .webshop-footer > h2{
    display: block;
  }

  .webshop-footer-content{
    margin-top: 20px;
    height: 100px;
  }
  

  .webshop-footer-links{
    display: none;
  }

  .social-icon{
    padding-top: 26px;
  }

  .social-icon .fa{
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 40px;
    margin-right: 12px;
  }
}