<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"/>
    <title>Webshop Assignment</title>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/animations.css"/>

</head>
<body>

<div class="view-container">

    <div class="webshop-top-bar">
        <img src="images/logo.png"/>
        <i class="fa fa-bars"></i>
    </div>
    <div class="webshop-container">

        <div class="top-banner">
            <h1>Looking for the best offers on the Internet?</h1>

            <h2>We are sure we have what you are looking for!<br/>
                Don't waste more time and find it now!</h2>
        </div>
        <div th:include="partials/product-list"></div>
        <div class="webshop-container-end"></div>
    </div>
    <div class="webshop-footer">
        <h1>Looking for the best offers on the Internet?</h1>

        <h2>We are sure we have what you are looking for!<br/>
            Don't waste more time and find it now!</h2>

        <div class="webshop-footer-content">
            <div class="social-icon">
                <a class="fa anim-5 fa-facebook" target="_blank" href="#"></a>
                <a class="fa anim-5 fa-tumblr" target="_blank" href="#"></a>
                <a class="fa anim-5 fa-pinterest" target="_blank" href="#"></a>
                <a class="fa anim-5 fa-linkedin" target="_blank" href="#"></a>
            </div>
            <div class="webshop-footer-links">
                <a href="#">Home</a> |
                <a href="#">Notebooks</a> |
                <a href="#">Smartphones</a> |
                <a href="#">Television</a> |
                <a href="#">Domestic Appliances</a> |
                <a href="#">Imprint</a> |
                <a href="#">Terms and Conditions</a>
            </div>

        </div>
    </div>
</div>

</body>
</html>
