<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<div layout:fragment="content">
        <div class="top-banner">
            <h1>Looking for the best offers on the Internet?</h1>

            <h2>We are sure we have what you are looking for!<br/>
                Don't waste more time and find it now!</h2>
        </div>
        <div th:include="partials/product-list"></div>
        <div class="webshop-container-end"></div>

    </div>
</html>
